{% extends 'base.html' %}

{% block title %}Categorías - ElisaCosmetic{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2 class="mb-4">Todas las Categorías</h2>
  <div class="row">
    {% for cat in categorias %}
      <div class="col-md-4 mb-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ cat.nombre_categoria }}</h5>
            <a href="{% url 'categoria_detalle' cat.id %}" class="btn btn-dark">Ver productos</a>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No hay categorías disponibles.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}